---
apiVersion: v1
kind: Secret
metadata:
  name: namecheap-auth
  namespace: traefik
type: Opaque
data:
  NAMECHEAP_API_KEY:
  NAMECHEAP_API_USER:
---
apiVersion: v1
kind: Secret
metadata:
  name: basicauth-traefik
  namespace: traefik
type: Opaque
data:
  users:
